<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>필드 : 필기 업로드</title>
    <link rel="stylesheet" href="./upload/layout.css">
    <link rel="stylesheet" href="./upload/style.css">
    <link rel="stylesheet" href="./upload/box.css">
</head>

<body>
    <div class="container">
        <form class=item action="/search" method="POST">
            <div class="icon_search">&nbsp&nbsp
                <a href="/test"><img src="../memberMain/image/home.png" alt="home" width="30" height="25"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/field"><img src="../memberMain/image/plus.png" alt="plus" width="25" height="25"></a>
                &nbsp;&nbsp;&nbsp;&nbsp; <input id="search" type="text" name="keyword" />
            </div>
            <div class="search_btn"> <input id="search_button" type="submit" value="search" /></div>
        </form>
        <div class="item">
            <a id="user_id">
                <%= user.name %> 님
            </a>&nbsp;&nbsp;&nbsp;
            <input type="checkbox" id="menuicon">
            <label for="menuicon">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="sidebar">
                <div class="sidebar_contents">
                    <div class="profile_img_box" style="background: #BDBDBD;">
                        <img class="profile_img" src="./profile/<%= user.profile %>">
                    </div>
                    <div id="profile_id">
                        <%= user.name %> 님
                    </div>
                    <div id="profile_point">보유 포인트 : <%= user.point %> P</div>
                    <div id="sidebar_btn_group">
                        <button id="sidebar_btn1" onclick="location.href='/changeInfo'">회원정보 수정</button><br>
                        <button id="sidebar_btn2" onclick="location.href='/myInfo'">마이페이지</button><br>
                        <button id="sidebar_btn3" onclick="location.href='/myField'">내 필드 관리</button><br>
                        <button id="sidebar_btn4" onclick="location.href='/logout'">로그아웃</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="item"> </div>
        <form action="/field" class="item" method="POST" id="note" encType="multipart/form-data">
            <div id="search_lecture_box">
                <h3>작성강의 선택</h3>&nbsp;&nbsp;&nbsp;
                <input id="search_lecture_space" type="text" list="searchLecture" name="lecture" />
                <datalist id="searchLecture">
                    <% for(let obj of course) { %>
                        <option value=<%=obj.name %>>
                    <% } %>
                </datalist>
            </div>
            <div id="upload_box">
                <div id="big_box">
                    <p id="upload_text"># 과목 정보 입력</p>
                    <div id="sub_info_box">
                        <div id="sub_info">
                            <p>수강 연도</p>
                            <input type="text" id="info_year" placeholder="ex) 2023" onfocus="this.placeholder=''"
                                name="year" onblur="this.placeholder='ex) 2023'">
                        </div>
                        <div id="sub_info">
                            <p>수강 학기</p>
                            <input type="text" id="info_semester" placeholder="ex) 1 / 2" onfocus="this.placeholder=''"
                                name="semester" onblur="this.placeholder='ex) 1 / 2'">
                        </div>
                        <div id="sub_info">
                            <p>교수명&nbsp&nbsp&nbsp&nbsp</p>
                            <input type="text" id="info_professor" placeholder="ex) 홍길동" onfocus="this.placeholder=''"
                                name="instructor" onblur="this.placeholder='ex) 홍길동'">
                        </div>
                        <div id="sub_info">
                            <p>개설 학과</p>
                            <input type="text" id=id="info_major" placeholder="ex) 소프트웨어학부" name="dept"
                                onfocus="this.placeholder=''" onblur="this.placeholder='ex) 소프트웨어학부'">
                        </div>
                        <div id="sub_info">
                            <p>구 &nbsp&nbsp&nbsp분&nbsp&nbsp&nbsp</p>
                            <input type="text" id="info_sub_type" placeholder="ex) 교양 / 전공필수" name="type"
                                onfocus="this.placeholder=''" onblur="this.placeholder='ex) 교양 / 전공필수'">
                        </div>
                    </div>
                    <p id="upload_text"># 필기 파일 업로드</p>
                    <input type="file" name="file" id="file" accept="image/*,text/plain,.pdf,.docx,.hwp">
                    <p id="upload_text"># 설명 작성</p>
                    <div id="write_space">
                        <textarea id="small_box" name="explanation"></textarea>
                    </div>
                    <p id="upload_text"># 필기 포인트 설정</p>
                    <div id="point_btn_group">
                        <input type='radio' id='onep' name='point' value="1" />
                        <label for='onep'>1</label>
                        <input type='radio' id='fivep' name='point' value="5" />
                        <label for='fivep'>5</label>
                        <input type='radio' id='tenp' name='point' value="10" />
                        <label for='tenp'>10</label>
                        <input type='radio' id='fifteenp' name='point' value="15" />
                        <label for='fifteenp'>15</label>
                    </div>
                    <button type="submit" id="submit_btn">필기 등록</button>
                </div>
            </div>
        </form>
    </div>
</body>
<script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>

</html>