<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>필드 : 검색 결과</title>
    <link rel="stylesheet" href="./layout.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./box.css">
</head>

<body>
    <div class="container">
        <form class=item action="/search" method="POST">
            <div class="icon_search">&nbsp&nbsp
                <a href="/main"><img src="../memberMain/image/home.png" alt="home" width="30" height="25"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/field"><img src="../memberMain/image/plus.png" alt="plus" width="25" height="25"></a>
                &nbsp;&nbsp;&nbsp;&nbsp; <input id="search" type="text" name="keyword" />
            </div>
            <div class="search_btn"> <input id="search_button" type="submit" value="search" /></div>
        </form>
        <div class="item">
            <a id="user_id">
                <%= user.name %> 님
            </a>&nbsp;&nbsp;&nbsp;
            <input type="checkbox" id="menuicon">
            <label for="menuicon">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="sidebar">
                <div class="sidebar_contents">
                    <div class="profile_img_box" style="background: #BDBDBD;">
                        <img class="profile_img" src="../profile/<%= user.profile %>">
                    </div>
                    <div id="profile_id">
                        <%= user.name %> 님
                    </div>
                    <div id="profile_point">보유 포인트 : <%= user.point %> P</div>
                    <div id="sidebar_btn_group">
                        <button id="sidebar_btn1" onclick="location.href='/changeInfo'">회원정보 수정</button><br>
                        <button id="sidebar_btn2" onclick="location.href='/myInfo'">마이페이지</button><br>
                        <button id="sidebar_btn3" onclick="location.href='/myField'">내 필드 관리</button><br>
                        <button id="sidebar_btn4" onclick="location.href='/logout'">로그아웃</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div id="main_box">
                <div id="keyword_box">
                    <p id="search_keyword">
                        <strong id="keyword">
                            "<%= keyword %>" 
                        </strong>
                        (으)로 검색한 결과입니다.
                    </p>
                </div>
                <div id="result_box">
                    <% if(result) { %>
                        <% for(var i=0; i < result.length; i++){ %>
                            <div id="content_box" onclick="location.href='/notes/<%= result[i].id %>'">
                                <p id="title_text">
                                    <%= result[i].name %>님의 <%= result[i].course %> 필기
                                </p>
                                <p id="summary_text">
                                    <%= result[i].explanation %>
                                </p>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>

</html>