<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>필드 : 마이페이지</title>
    <link rel="stylesheet" href="./myPage/layout.css">
    <link rel="stylesheet" href="./myPage/style.css">
    <link rel="stylesheet" href="./myPage/box.css">
</head>

<body>
    <div class="container"> <!--<input id="search" type="text" name="keyword"/>-->
        <form class=item action="/search" method="POST">
            <div class="icon_search">&nbsp&nbsp
                <a href="/main"><img src="../memberMain/image/home.png" alt="home" width="30" height="25"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/field"><img src="../memberMain/image/plus.png" alt="plus" width="25" height="25"></a>
                &nbsp;&nbsp;&nbsp;&nbsp; <input id="search" type="text" name="keyword" />
            </div>
            <div class="search_btn"> <input id="search_button" type="submit" value="search" /></div>
        </form>

        <div class="item">
            <a id="user_id">
                <%= user.name %> 님
            </a>&nbsp;&nbsp;&nbsp;
            <input type="checkbox" id="menuicon">
            <label for="menuicon">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="sidebar">
                <div class="sidebar_contents">
                    <div class="profile_img_box" style="background: #BDBDBD;">
                        <img class="profile_img" src="./profile/<%= user.profile %>">
                    </div>
                    <div id="profile_id">
                        <%= user.name %> 님
                    </div>
                    <div id="profile_point">보유 포인트 : <%= user.point %> P</div>
                    <div id="sidebar_btn_group">
                        <button id="sidebar_btn1" onclick="location.href='/changeInfo'">회원정보 수정</button><br>
                        <button id="sidebar_btn2" onclick="location.href='/myInfo'">마이페이지</button><br>
                        <button id="sidebar_btn3" onclick="location.href='/myField'">내 필드 관리</button><br>
                        <button id="sidebar_btn4" onclick="location.href='/logout'">로그아웃</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="item"> <!--마이페이지-->
            <div id="title_box">
                <p>마이페이지</p>
            </div>
        </div>
        <div class="item"> <!--프로필-->
            <div id="profile_box">
                <div id="img_group">
                    <div id="img_box">
                        <img class="profile_img" src="./profile/<%= user.profile %>">
                    </div>
                    <p id="text1">프로필 사진 바꾸기</p>
                </div>
                <div id="info_box">
                    <p id="text2"><strong>내 포인트 </strong>:&nbsp;&nbsp;<%= user.point %> P</p>
                    <p id="text2"><strong>내가 작성한 필드 </strong>:&nbsp;&nbsp;<%= count %> 개</p>
                    <p id="text2"><strong>내 필드 평점 </strong>:&nbsp;&nbsp;<%= parseFloat(rating).toFixed(2); %> 점</p>
                    <div id="profile_btn_group">
                        <button id="profile_btn" onclick="location.href='/changeInfo'">회원정보 수정</button>
                        <button id="profile_btn" onclick="location.href='/myfield'">내 필드 관리</button>
                        <button id="profile_btn">구매 필드 관리</button>
                        <button id="profile_btn">포인트 구매</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="item"> <!--새 필기 보기-->
            <div id="new_box">
                <div id="text_box">
                    <p id="text3">좋아요 표시한 필드</p>
                    <% for(var i = 0; i < 4; i++){ %>
                        <% if (!like[i]) { %>
                            <%break;%>
                        <% } %>
                        <p id="text4" onclick="location.href='/notes/<%= like[i].id %>'"><%= like[i].name %> :&nbsp;&nbsp;<%= like[i].course %></p>
                    <% } %>
                    <p id="text5">더보기</p>
                </div>
            </div>
        </div>
        <div class="item"> <!--새 리뷰-->
            <div id="reveiw_box">
                <div id="review_text_box">
                    <p id="text3">새 리뷰</p>
                    <% for(var i = 0; i < 4; i++){ %>
                        <% if (!review[i]) { %>
                            <%break;%>
                        <% } %>
                        <p id="text4" onclick="location.href='/notes/<%= review[i].id %>'"><%= review[i].course %> :&nbsp;&nbsp;<%= review[i].comment %></p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>

</html>