<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>필드 : 내 필드 관리</title>
    <link rel="stylesheet" href="./layout.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./box.css">
</head>
<body>
    <div class="container">
        <form class=item action="/search" method="POST">
            <div class="icon_search">&nbsp&nbsp
                <a href="/main"><img src="../memberMain/image/home.png" alt="home" width="30" height="25"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/field"><img src="../memberMain/image/plus.png" alt="plus" width="25" height="25"></a>
                &nbsp;&nbsp;&nbsp;&nbsp; <input id="search" type="text" name="keyword" />
            </div>
            <div class="search_btn"> <input id="search_button" type="submit" value="search" /></div>
        </form>
        <div class="item">
            <a id="user_id"><%= user.name %> 님</a>&nbsp;&nbsp;&nbsp; 
            <input type="checkbox" id="menuicon">
            <label for="menuicon">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="sidebar">
                <div class="sidebar_contents">
                    <div class="profile_img_box" style="background: #BDBDBD;">
                        <img class="profile_img" src="../profile/<%= user.profile %>">
                    </div>
                    <div id="profile_id"><%= user.name %> 님</div>
                    <div id="profile_point">보유 포인트 : <%= user.point %> P</div>
                    <div id="sidebar_btn_group">
                        <button id="sidebar_btn1" onclick="location.href='/changeInfo'">회원정보 수정</button><br>
                        <button id="sidebar_btn2" onclick="location.href='/myInfo'">마이페이지</button><br>
                        <button id="sidebar_btn3" onclick="location.href='/myField'">내 필드 관리</button><br>
                        <button id="sidebar_btn4" onclick="location.href='/logout'">로그아웃</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="item"></div>  <!--빈공간-->
        <div class="item">
            <div id="new_box">
                <div id="title_box"><p id="mysub_newfield">내 필드 관리</p></div>
                <% for(var i = 0; i < myNote.length; i++){ %>
                    <% var idx = i / 3 + 1; %>
                    <div id="box_group<%= idx %>">
                        <% for(var j = 0; j < 3; j++){ %>
                            <% if (!myNote[i]) { %>
                                <% break; %>
                            <% } %>
                            <div id="box_frame">
                                <div id="field_box" onclick="location.href='/notes/<%= myNote[i].id %>'">
                                    <img id="preview_img" src="../notes/image/preview.png">
                                </div>
                                <p id="new"><%= myNote[i].course %> 필기</p>
                            </div>
                            <% i++; %>
                        <% } %>   
                    </div>
                    <% i--; %>
                <% } %>           
            </div>
        </div>
    </div>
</body>
    <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
</html>
